doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Chess Puzzles
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')
    meta(name='description' content='Try playing many simple chess puzzles.')
    style: :stylus(compress=true)
      .footer small
        color #999
        a
          color #aaa
      body
        font-size 1.2em
        line-height 1.4
      .header, .middle, .footer
        margin 0 auto
        max-width 600px
      .footer
        padding-top 1em
      a
        text-decoration none
        &:hover
          text-decoration underline

      h1, p
        text-align center

      #board-container
        width 512px
        height 512px
        margin 0 auto 15px auto

      .square, .piece
        width 64px
        height 64px
        float left

      .square
        &:hover
          background-image url(selections.png)
          background-position 0 0
        &.selected
          background-image url(selections.png)
          background-position 0 -64px
        &.start
          background-image url(selections.png)
          background-position 0 -192px
        &.stop
          background-image url(selections.png)
          background-position 0 -256px

      .ws
        background-color #F8F8F8
      .bs
        background-color #DDD

      .bp
        background url(pieces.png)    0   -64px
      .bb
        background url(pieces.png)  -64px -64px
      .bn
        background url(pieces.png) -128px -64px
      .br
        background url(pieces.png) -192px -64px
      .bq
        background url(pieces.png) -256px -64px
      .bk
        background url(pieces.png) -320px -64px
      .wp
        background url(pieces.png)    0     0
      .wb
        background url(pieces.png)  -64px   0
      .wn
        background url(pieces.png) -128px   0
      .wr
        background url(pieces.png) -192px   0
      .wq
        background url(pieces.png) -256px   0
      .wk
        background url(pieces.png) -320px   0

      @media (max-width: 511px)
        #board-container
          width 320px
          height 320px
        .square, .piece
          width 40px
          height 40px
        .bp
          background url(pieces.png)    0   -40px
        .bb
          background url(pieces.png)  -40px -40px
        .bn
          background url(pieces.png)  -80px -40px
        .br
          background url(pieces.png) -120px -40px
        .bq
          background url(pieces.png) -160px -40px
        .bk
          background url(pieces.png) -200px -40px
        .wp
          background url(pieces.png)    0     0
        .wb
          background url(pieces.png)  -40px   0
        .wn
          background url(pieces.png)  -80px   0
        .wr
          background url(pieces.png) -120px   0
        .wq
          background url(pieces.png) -160px   0
        .wk
          background url(pieces.png) -200px   0
        .piece
          background-size 240px 80px
        .square
          background-size 40px 200px
          &:hover
            background-position 0 0
          &.selected
            background-position 0 -40px
          &.start
            background-position 0 -120px
          &.stop
            background-position 0 -160px

  body
    .header: :markdown-it
      # [Chess Puzzles](.)

    .middle
      #board-container
      p#message
      p#buttons
        button#new-btn.btn.btn-info(type='button') New
        = ' '
        button#show-btn.btn(type='button') Show solution

    .footer
      :markdown-it
        Created by [Paul Nechifor](/).

      small.links: :markdown-it
        [Home](/) • [Projects](/projects) • [Twitter](https://twitter.com/PaulNechifor)

    script !{js}
