extends ../intercessor-layout

block content
  .readable
    #board-container
    p#message
    p#buttons
      button#new-btn.btn.btn-info(type='button') New
      = ' '
      button#show-btn.btn(type='button') Show solution

block scripts
  script window.staticPath = !{JSON.stringify(app.paths.static)};
